@inject IJSRuntime JS

<div class="container">
    <ul class="list-group list-group-flush">
        @for (var i = 0; i < videos.Count; i++)
        {
            currentIndex = i;
            if (videos[i].Visible)
            {
                <li class="list-group-item">
                    <span class="font-bold" style="margin-right: 40px;">@videos[i].Name</span>
                    <!-- Edit -->

                    <button class="btn btn-outline-primary" @onclick="() => { editMode = true; EditVideo(); }" style="margin-right: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button>
                    <!-- Downlaod -->
                    <button class="btn btn-outline-primary" @onclick="videos[currentIndex].Save">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg>
                    </button>
                    <!-- Remove -->
                    <button class="float-end btn btn-outline-danger" @onclick="RemoveVideo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </li>
            }
        }
    </ul>
    @if (!disableAddButton)
    {
        <div class="d-flex justify-content-center">
            <button class="float-end btn btn-outline-primary font-bold" @onclick="AddVideo" style="margin-top: 5px; margin-right: 15px;">
                + Add a video
            </button>
        </div>
    }
    <Modal @ref=modal>
        <Title>
            <span class="font-bold">@(editMode == true ? "Edit a video" : "Add a video")</span>
        </Title>
        <Body>
            @if (videos.Count > 0)
            {
                <input class="form-control" type="url" placeholder="URL" @bind-value=videos[currentIndex].Url />

                <div class="vertical-gap"></div>

                <input class="form-control" type="text" placeholder="Name (optional)" @bind-value="videos[currentIndex].Name" />

                <div class="vertical-gap"></div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" @onclick="OpenFileSelector">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                                <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                                <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </button>
                    </div>
                    <input class="form-control" type="text" placeholder="Path" @bind-value="videos[currentIndex].Path" />
                    <input id="fileSelect" type="file" style="display: none;" webkitdirectory multiple @bind-value="videos[currentIndex].Path" />
                </div>

                <div class="vertical-gap"></div>

                <div class="font-bold">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="radio_mp4" @onclick=ToMp4 />
                        <label class="form-check-label" for="radio_mp4">MP4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="radio_mp3" checked="checked" @onclick=ToMp3 />
                        <label class="form-check-label" for="radio_mp3">MP3</label>
                    </div>
                </div>
            }
        </Body>
        <Footer>
            <button class="btn btn-outline-primary" @onclick="CheckData">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                </svg>
            </button>
        </Footer>
    </Modal>
</div>


@code {
    private List<Video> videos = new();

    private Modal modal { get; set; } = new();

    private bool disableAddButton = false;
    private bool disableFinishButton = true;
    private bool editMode = false;
    private int currentIndex = 0;

    private const int MaxCount = 8;

    private void AddVideo()
    {
        videos.Add(new Video()
            {
                Visible = false
            });
        modal.Open();
    }
    private void CheckData()
    {
        if (BadString(videos[currentIndex].Url) || BadString(videos[currentIndex].Path)) return;

        modal.Close();

        if (BadString(videos[currentIndex].Name)) videos[currentIndex].Name = $"Video{currentIndex + 1}";
        videos[currentIndex].Visible = true;

        if (videos.Count == MaxCount) disableAddButton = true;
    }
    private async void OpenFileSelector()
    {
        await JS.InvokeVoidAsync("clickElement");
    }
    private void ToMp4()
    {
        videos[currentIndex].Format = Formats.MP4;
    }
    private void ToMp3()
    {
        videos[currentIndex].Format = Formats.MP3;
    }
    private void EditVideo()
    {
        modal.Open();
    }
    private void RemoveVideo()
    {
        videos.RemoveAt(currentIndex);
    }
    private bool BadString(string str)
    {
        return (string.IsNullOrEmpty(str) || string.IsNullOrWhiteSpace(str)) ;
    }
}